@model WebApplication3.Models.Genre

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
</tr>
<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.SongDate)
    </td>
</tr>

