@model IEnumerable<WebApplication3.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>%
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.Partial("_AllGenre", item)
}

</table>

@for(var i =0;i<10;i++)
{
    <b>@i</b>
    if(i%2 ==0)
    {
        @:Even
    }
    else
    {
        <text>Odd </text>
    }
    <br />
}

@{
    int v = 2;
}
Value of v is @v