 <li class="dropdown" data-admin-menu>
        <a href="#">
                Admin
                <span class="glyphicon glyphicon-chevron-down"></span>
        
    </a>
        <ul class="dropdown-menu" role="menu">
        
        <li class="dropdown-header">Minor Entities</li>
        
        <li class="divider" />
        
        <li><a href="/Song/Index">&nbsp;&nbsp;Prepend</a></li>
        
        <li><a href="/Dropdown/Index">&nbsp;&nbsp;Dropdown</a></li>
        
        <li><a href="/user/create">&nbsp;&nbsp;Form</a></li>
            
        
        <li><a href="@Url.Action("Create", "Order", new {applicationUserId = ViewBag.userId })">&nbsp;&nbsp;Order</a></li>
        
        <li><a href="/Admin/ProductLinkText">&nbsp;&nbsp;Product Link Text</a></li>
        
        <li class="dropdown-header">Major Entities</li>
        
        <li class="divider" />
        
        <li><a href="/Admin/Item">&nbsp;&nbsp;Item</a></li>
        
        <li><a href="/Admin/Product">&nbsp;&nbsp;Product</a></li>
        
        <li><a href="/Admin/Subscription">&nbsp;&nbsp;Subscription</a></li>
        
        <li class="divider" />
        
        <li class="dropdown-header">Connector Entities</li>
        
        <li class="divider" />
        
        <li><a href="/Admin/ProductItem">&nbsp;&nbsp;Product Item</a></li>
        
        <li><a href="/Admin/SubscriptionProduct">&nbsp;&nbsp;Subscription Product</a></li>
        
        <li class="divider" />
        
        <li class="dropdown-header">Users & Subscription</li>
        
        <li class="divider" />
        
        <li><a href="/Song/ChildSelector">&nbsp;&nbsp;Child Selector</a></li>
        
    </ul>
    
</li>