<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <!--<wsHttpBinding>
        <binding name="wsHttp">

        </binding>
      </wsHttpBinding>-->
      <!--<netTcpBinding>
        <binding name="netTCP">
        </binding>
      </netTcpBinding>-->
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceThrottling maxConcurrentCalls="3" maxConcurrentInstances="3" maxConcurrentSessions="100" />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="SimplestService.Simplestservice">
        <endpoint address="ReportService" binding="basicHttpBinding" contract="SimplestService.ISimplestservice"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>

<!--With Instance Per Call settings and max Concurrent instacs is 2 and suppose maxconcurrentcalls is 3 even then only 2 concurrent call will run becaus eonly 2 instaneces are allowed at a time-->
<!--Now suppose if the instance context is set  to Single then in that case we can have 3 concurrent calls because al of them will use same insance-->