@model WebApplication3.Models.Company
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DropDownListFor(m=>m.Parkings, new SelectList(Model.Parkings, "Id", "Name"), "" )

@using(@Html.BeginForm())
{
    foreach(var parking in Model.Parkings)
    {
        @Html.RadioButtonFor(m=>m.selectedRadio, parking.Id) @parking.Name
    <br />
    }
    <input type="submit"   value="Submit" />
}

