@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{
    <text> Hello World</text>
}

@*available in second request*@
@{ 
    string data;
    if (TempData["User"] != null)
    {
        data = TempData["User"] as string;
    }
}
<div> colour</div>
 asas
<p>Use this area to provide additional information.</p>
<script>
    $("div").css({ "background-color": "red" });
</script>

