@*POINTS: Here we are trying to send data from controller action to aonther controller action but the controller action which is sending data is called via AQJAX request*@


@*Actual flow -> from controller Return view() -> )Viewstart.cshtml : it inclued the layout file-> and then the corresponding page in=s rendered.*@

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Temp.cshtml";
    
}
        <style>
        @@media screen and (max-width: 600px) {
            img {
                width: 100%;
            }
        }
    </style>
<script>
    var r =  @((int)WebApplication3.Controllers.Hello.sim)
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-block margin-top-20">Click Me! </a>

<a href="@Url.Action("Create", "Order", new {ApplicationUserId = ViewBag.userId })">&nbsp;&nbsp;Order</a>
<div id="update"></div>


<select id="idselect" name="classselect" onchange="addhtmlcontent()">
    <option value="1">One</option>
    <option value="2">Two</option>
</select>
<script>
    function addhtmlcontent() {
        //get the selected value from the dropdown
        var idselect = $('#idselect').val();
        var markup = '';
        markup = '<h1> This is html content using .html() dynamically.</h1>';
        $("#update").html(markup);
        alert(r);
    }
   
</script>

<button type="button" onclick="makeajaxcall()">Click Me!</button>

<script>
    function makeajaxcall()
    {
        //get the selected value from the dropdown
        var idselect =2;
        $.ajax({
            type: 'POST',
            url: '/Home/About',
            data: { id: idselect },
            success: function (data) {
                window.location.href = '/Home/Index/';
            },
            error: function () {
                alert("sadfsdf");
            }
        });
    }
</script>

@using(Html.BeginForm("About","Home"))
{
<input type="submit" value="Submit" onclick="return confirm('Are you sure you want to delete?')"/> 
}


<div class="parent">
    one
</div>

<div class="parent">
    two
</div>

<script>
    $(".parent:first").click(function()
    {
        alert("clciked");
    });
</script>

<img src="~/Content/themes/base/images/logo.png" />
<button class="example2">pop up</button>

<script>
    $('.example2').on('click', function () {
        $.confirm({
            title: 'DRAFT DELETION',
            content: 'Are you sure you want to delete Draf',
            buttons: {
                confirm: function () {
                },
                cancel: function () {
                }
            }
        });
    });
</script>
