@*@model IEnumerable<WebApplication3.Models.ApplicationUser>
@{
    ViewBag.Title = "ListOfAllUser";
}

<h2>ListOfAllUser</h2>

@foreach( var item in Model)
{
   <p> @item.Email</p>
}*@



@model IEnumerable<WebApplication3.Models.ApplicationUser>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            <td>
                @Html.ActionLink("Details", "DetailsForAdmin", new {id = item.Id })
            </td>
        </tr>
    }

</table>
