@{
    ViewBag.Title = "PartialViewContainer";
}
<script>
    function ClearResult(){
        $("#divStudents").empty();
    }
    function CountRows(){
       //alert( ($("#studentstable tr").length -1) + 'rows retrieved');
    }

    //function CancelCall() {
    //    if(1==2)
    //     return true; 
    //    else {
    //        alert("fa");
    //        return false;
    //    }
</script>
<div style="font-family: Arial">
    <h2>Students</h2>

    @Ajax.ActionLink("All", "All", new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "divStudents",
           InsertionMode = InsertionMode.Replace,
           LoadingElementId = "divLoading",
           OnBegin = "ClearResult",
           OnSuccess = "CountRows",
           LoadingElementDuration = 1000
       })
    <span style="color:Blue">|</span>
    @Ajax.ActionLink("Top3", "Top3", new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "divStudents",
           LoadingElementId = "divloading",
           InsertionMode = InsertionMode.Replace,
           OnBegin = "ClearResult",
           OnSuccess = "CountRows"
       })
    <span style="color:Blue">|</span>
    @Ajax.ActionLink("Bottom", "Bottom3", new AjaxOptions
       {
           HttpMethod = "GET",
           UpdateTargetId = "divStudents",
           InsertionMode = InsertionMode.Replace,
           LoadingElementId = "divloading",
           OnBegin = "ClearResult",
           OnSuccess = "CountRows"
       })
    <div id="divLoading" style="display:none">
        <img src="~/Content/themes/base/images/spinner.gif" />
    </div>
    <div id="divStudents"></div>
</div>