@model IEnumerable<WebApplication3.Models.MyViewModel>
@*@model Order*@

<table>
    <tr><th>Department</th><th>Count</th></tr>
    @foreach(var r in Model)
    {
    <tr>
        <td>
            <p>@r.Department</p>
        </td>
        <td>
            <p>@r.count</p>
            </td>
    </tr>


    }
</table>
