<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\lenovo\desktop\demo\renderpartialviewwithmainmodel\securityhost\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <!--<wsHttpBinding>
        <binding name="wsHttp">
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>-->
      <netTcpBinding>
        <binding name="netTCP">
<!--Below we are configuring what security mode we want. if securoty is provided by default for example wsHttpBinding byuderfault
privides the message layer security. in that case it will be there irrepective of whetehre we mention anything here but we 
can always come here and configure it accordinglt-->
          <!--<security mode="None"></security>
          <security mode="Transport"></security>
          <security mode="Message"></security>
          <security mode="TransportWithMessageCredential"></security>-->
          <security mode="Transport">
            <!--<transport clientCredentialType="None"></transport>
            <transport clientCredentialType="Windows"></transport>
            <transport clientCredentialType="Certificate"></transport>-->
          </security>

          <security mode="Message">
            <!--<message clientCredentialType="None"/>
            <message clientCredentialType="Windows"/>
            <message clientCredentialType="UserName"/>
            <message clientCredentialType="Certificate"/>
            <message clientCredentialType="IssuedToken"/>-->
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="SecurityService.SecurityService">
        <endpoint address="SecurityService" binding="netTcpBinding" contract="SecurityService.ISecurityService" bindingConfiguration="netTCP" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080"/>
            <add baseAddress="net.tcp://localhost:8090"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>

<!--Here we are learning how to configure the mESSAGE AND TRASNPORT SECURITY-->
