@model WebApplication3.Models.EmpDepotViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@*  -----------------this name should mactch the viewbag property name*@
@Html.DropDownList("Depots","Select item")
