
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form id="newcity">
    <div class="form-group">
        <label>Movie</label>
        <input id="city" type="text" value="" class="form-control" />
    </div>

    <ul id="cities" class="list-group"></ul>
    <button type="submit">submit</button>
</form>

@section scripts
{
    <script>
        var vm = {

            cityIds: []
        };
        var cities = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('cityName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/api/cities?query=%QUERY',
                wildcard: '%QUERY'
            }
        });
        debugger;
        $('#city').typeahead({
            minLength: 3,
            highlight: true
        }, {
            name: 'cities',
            display: 'cityName',
            source: cities
        }).on("typeahead:select", function (e, city) {
            //vm.cityId = city.id;
            $("#cities").append("<li>" + city.cityName + "</li>");
            $("#city").typeahead("val", "");

            vm.cityIds.push(city.id);
        });

        $("#newcity").submit(function (e) {

            e.preventDefault();
            $.ajax({
                url: "/api/api/cities",
                method: "POST",

                data: vm

            })
            .done(function () { toastr.success("Rentals!!"); })
.fail(function () { toastr.error("Rentals!!"); })
        });


    </script>


}

